<!DOCTYPE html>
<!-- 我在這 -->
<html>
  <head>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1 class="page">Add something</h1>
    <form action="/create" method="POST">
      <label for="title" class="label">Title</label><br />
      <input type="text" name="title" id="title" class="input-title" /><br />
      <label for="content" class="label">Content</label><br />
      <textarea class="input-content" id="content" name="body"></textarea><br />
      <button class="submit-btn">Submit</button>
    </form>
  </body>
</html>
