:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--dark);
}
.page {
  margin: 2rem 0;
  color: var(--light);
}
.container {
  width: 30%;
  margin-top: 2rem;
}
.container a {
  text-decoration: none;
  color: #fefad4;
  width: 100%;
}
.todo {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkest);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.todo:hover {
  opacity: 0.8;
}
.todo a {
  padding: 1rem;
}
.lame {
  font-size: 2rem;
  color: #f8f41d;
  font-weight: 700;
  text-align: center;
}
.icon-container {
  width: 20%;
  margin-top: 0.5rem;
  text-align: end;
}
.add-btn {
  border: none;
  font-size: 1rem;
  width: 10%;
  background-color: rgb(235, 52, 83);
  margin-top: 1rem;
}
.add-btn:hover {
  background-color: red;
}
.add-btn a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 700;
  display: block;
  padding: 0.5rem;
}
.fa-trash {
  font-size: 1.25rem;
}
.fa-trash:hover {
  color: #f03e4d;
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 150ms;
}
.fa-pen {
  font-size: 1.25rem;
}
.fa-pen:hover {
  color: #3edbf0;
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 150ms;
}
.label {
  color: var(--grey);
  font-size: 1.5rem;
}
.input-title {
  width: 100%;
  background-color: var(--darker);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}
.input-content {
  width: 100%;
  height: 120px;
  background-color: var(--darker);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}
.submit-btn {
  width: 100%;
  height: 30px;
  background-color: rgb(236, 9, 9);
  color: rgb(235, 220, 220);
  border: none;
  border-radius: 3%;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
}
.submit-btn:hover {
  background-color: rgb(253, 19, 19);
  color: white;
}
.single-container {
  background-color: rgb(248, 235, 180);
  width: 20%;
  min-height: 30vh;
  padding: 0.75rem;
  border-radius: 5%;
  margin-top: 1rem;
}
.single-title {
  font-size: 1.75rem;
  text-decoration: underline;
  word-wrap: break-word;
}
.single-content {
  margin-top: 0.5rem;
}
.edit-form {
  margin-top: 1rem;
}
.hidden {
  display: none;
}
.showup {
  display: block;
}
.update-btn {
  width: 100%;
  height: 30px;
  background-color: rgb(0, 255, 157);
  color: black;
  border: none;
  border-radius: 3%;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
}
.update-btn:hover {
  background-color: rgb(120, 248, 199);
  color: #fefad4;
}
.home-btn {
  color: var(--light);
  background-color: var(--grey);
  margin-top: 1rem;
}
.home-btn a {
  text-decoration: none;
  color: var(--light);
  width: 100%;
  font-weight: 700;
  padding: 0.5rem;
  display: block;
}
.home-btn:hover {
  background-color: var(--darkest);
  opacity: 0.8;
}

/* RWD */
@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
  .add-btn {
    width: 30%;
  }
  .icon-container {
    width: 80%;
  }
  .single-container {
    width: 80%;
    min-height: 50vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    width: 50%;
  }
  .add-btn {
    width: 20%;
  }
  .icon-container {
    width: 50%;
  }
  .single-container {
    width: 50%;
    min-height: 40vh;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .container {
    width: 40%;
  }
  .icon-container {
    width: 40%;
  }
  .single-container {
    width: 40%;
    min-height: 35vh;
  }
}
